<h3>Login: </h3><br>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
        <label for="email">E-mail: </label>
            <input class="form-control" type="email" name="email" required>
        <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control"required> 
        <button class="btn btn-success mt-4" type="submit">Logar</button>
        
        </form>
        <a href="/usuarios/registro"><small>Ainda não tem uma conta?</small></a>
                
</div>